.dgp-container {
  max-width: 950px;
  width: 100%;
  margin: 35px auto 25px auto;
}

.dgp-subscription {
  background: #141825;
  padding: 16px 16px;
  border-radius: 16px;
  border: 2px solid #272e43;
  max-width: 450px;
  width: 100%;
}

.dgp-subscription-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dgp-subscription {
  margin-right: 15px;

  & input[type=email] {
    width: 250px;
    border: none;
    margin-bottom: 20px;
    padding: 12px 13px;
    background: linear-gradient(-90deg, #c75d12, #83be59);
    color: black;
    font-size: 19px;
    border-radius: 8px;
  }

  & input[type=email]::placeholder {
    opacity: 1;
    color: black;
  }

  & button {
    width: 250px;
    border: none;
    padding: 11px 20px;
    // background: linear-gradient(-90deg, #1289c7, #be6c59);
    // color: black;
    background: linear-gradient(-90deg, #1a3162, #453762);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
}

.dgp-no-spam {
  font-size: 14px;
}

.dgp-why {
  margin-left: 15px;
  max-width: 500px;
  width: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

.dgp-select {
  position: relative;
  width: 150px;
  margin: 20px 0;
}

.dgp-select i {
  position: absolute;
  right: 10px;
  top: 10px;
}

.dgp-select select {
  width: 100%;
  padding: 7px 9px;
  //margin: 20px 0;
  border-radius: 8px;
  appearance: none;
}

@media screen and (max-width: 900px) {
  .dgp-subscription-container {
    flex-direction: column;
    align-items: center;
  }

  .dgp-subscription {
    margin-bottom: 35px;
  }
}
