<div style="display: flex" class="subscription-container">
  <div style="width: 70%; padding-right: 80px;">
    <h1 style=
    "background: linear-gradient(-90deg, #1a3162, #453762);
    padding: 3px 14px;
    color: #f4f4f4;
    font-weight: bold;">Master Go (Golang) with Weekly Tips, Tutorials and Exclusive Courses</h1>
    <p>Keep your Go (Golang) skills sharp and up-to-date with my exclusive newsletter. <span style="padding: 0 9px;
    border-bottom: 3px solid #30a1e5;
    box-shadow: inset 0 -7px 0 rgba(178, 192, 232, 0.2)">Subscribe</span> now to get:</p>
    <ul style="list-style-type: none; padding: 0;">
      <li><i class="fa fa-check-circle color-blue"></i> Weekly tips and tricks</li>
      <li><i class="fa fa-check-circle color-blue"></i> In-depth tutorials</li>
      <li><i class="fa fa-check-circle color-blue"></i> Exclusive courses</li>
      <li><i class="fa fa-check-circle color-blue"></i> Industry insights and best practices</li>
    </ul>
    <p>Join growing community of <span style="background: linear-gradient(-90deg, #12a2c7, #be6c59);
    padding: 0 9px;
}">Go (Golang)</span> developers and take your skills to the next level.</p>
  </div>
  <div style="width: 30%">
    <div class="subscription">
<form
  action="https://app.convertkit.com/forms/6924712/subscriptions"
  method="post"
  data-sv-form="6924712"
  data-uid="724b4a15b1"
  data-format="inline"
  data-version="5"
  data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":true,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
  min-width="400 500 600 700 800"
>
  <div data-style="minimal">
    <ul
      data-element="errors"
      data-group="alert"
      style="margin: 0; padding: 0;"
    ></ul>
    <div
      data-element="fields"
      data-stacked="false"
    >
      <input
        name="email_address"
        aria-label="Email Address"
        placeholder="// EMAIL"
        required=""
        type="email"
      />
      <div>
        <fieldset
          data-group="checkboxes"
          group="field"
          type="Custom"
          order="1"
          save_as="Tag"
                style="padding: 0; margin: 0 0 20px 0;"
        >
          <div
            data-element="tags-checkboxes"
            data-group="checkbox"
          >
            <input
              id="tag-5631-5252942"
              type="checkbox"
              name="tags[]"
              value="5252942"
            >
              <strong>Marketing permission (GDPR)</strong>
              <span class="tooltip">
                    <i class="fa fa-question-circle color-blue"></i>
                    <span class="tooltiptext">I give my consent to Max Kovalevsky to be in touch with me via email using the information I have provided in this form for the purpose of news, updates and marketing.</span>
              </span>
          </div>
        </fieldset>
      </div>
      <button
        data-element="submit"
      >
        <div class="formkit-spinner">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span class="">Subscribe</span>
      </button>
    </div>
    <div
      data-element="guarantee"
    >
      We won't send you spam. Unsubscribe at any time.
    </div>
  </div>
</form>
</div>
    </div>
  </div>

